
.App {
  text-align: center;
  display:flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


.App-header {
  align-items: baseline;
  background-color: white;
  min-height: 5vh;
  width: 100%;
  display: flex;
  font-size: calc(20px + 1vmin);
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 200;
  color: grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html{
  /*  background: url("./background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

}


.title{
  height: 50px;
  width: 90vw;
}
.inside{
  width: 5vw;
  height: 50px;
  font-weight: lighter;
}
/*containers*/
section{
  width: 100%;
  height: 95vh;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main{
  flex-direction: column;
}
.container{
  display: flex;
  width: 90vw;
  height: 100vh;
  background: white;
}
.listContainer{
  flex-direction: row;
  flex-wrap:wrap;
  display: flex;
  width: 80%;
  height: 90vh;
}
.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}
.imageContainer:hover{
  filter: grayscale(0%);
}

/*hamburger icon*/
#menu:hover{
  cursor: pointer;
}
.mobileMenu{
  width: 10vw;
  position: fixed;
  left:4vw;
  top: 90px;
  bottom:0;
  height: 80vh;
  z-index: 100002;
  transition: margin ease .3s;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
ul{
  list-style: none;
  color:grey;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 12px;
  line-height: 200%;
  text-align: left;
}
